APP_ARTWORK_LIFETIME=30 # How long (days) an uploaded artwork stays hosted before it is deleted (unless it gets renewed).

APP_CLIENT_TOKEN_LIFETIME=90 # How long (days) clients can access the API without needing to register themselves again.

APP_INSTANCE_IDENTIFIER='SomeBeautifulName' # The identifier for this instance. Encore knows to reset its local cache if it changes with a response.
APP_INSTANCE_IS_PUBLIC=false # Whether this is a public instance. Enable to allow anyone to connect with Encore.

APP_USER_ENABLE_REGISTRATION=true # Whether to enable user registration. You probably want to disable this after creating your admin user.
APP_USER_TOKEN_LIFETIME=30 # How long (days) a login session token stays valid before the user has to authenticate again.

DATABASE_DRIVER='postgresql' # `postgresql` or `mysql`
DATABASE_HOST='127.0.0.1'
DATABASE_NAME='encore'
DATABASE_PASSWORD='IWasWearingHelloKittySocksWhileWritingThis'
DATABASE_PORT=5432
DATABASE_USERNAME='encore'
