APP_CLIENT_TOKEN_LIFETIME=90 # How long (days) clients can access the API without needing to register themselves again.
APP_DISABLE_USER_REGISTRATIONS=false # Whether to disable user registration or not.
APP_PUBLIC_CLIENT_REGISTRATION=false # Whether this is a public instance or not. Disable to allow anyone to connect to it with Encore.

# MariaDB or PostgreSQL (default) — you choose.
DATABASE_DRIVER=postgres # postgres (default) or mysql (also covers MariaDB).
DATABASE_HOST='127.0.0.1'
DATABASE_PORT=5432
DATABASE_USERNAME='encore'
DATABASE_PASSWORD='IWasWearingHelloKittySocksWhileWritingThis'
DATABASE_NAME='encore'
